*{
    margin: 0;
    padding: 0;
    
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height:fit-content ;
}

.navbar{
    width: 100%;
    height: 85px;
    background-color: #ff7200;
}

img{
    height: 70px;
    width: 70px;
    margin-top: 5px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding-left: 10px;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 2px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.main ul li a:hover{
    color: #00ff00;
    
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown a{
    font-size: 14px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: max-content;
    overflow: auto;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #fcf7f7;
    padding: 10px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #fcfaf9;
    background-color: #ff7200;
  }
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #050505;
    margin-top: 17px;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 100px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1px solid #080808;
    margin-top: 17px;
    color: #fcfafa;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    margin-left: 20px;
}
.btn:hover{
    color: #00ff00;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 100%;
    height: 100vh;
    margin: auto;
    color: #fff;
    position: relative;
    
}

.content .par{
    padding-left: 100px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: x-large;
    color: rgb(228, 239, 241);
    animation-name: textzoom;
    animation-duration: 2s;
}
@keyframes textzoom{
    0%{
        font-size: 0%;
    }
    100%{
        font-size: x-large;
    }
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 75px;
    padding-left: 100px;
    margin-top: 35px;
    letter-spacing: 2px;
    animation-name: textzoom1;
    animation-duration: 2s;
}
@keyframes textzoom1{
    0%{
        font-size: 0%;
    }
    100%{
        font-size: 75px;
    }
}
.content spam{
    color: #ff7200;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left:150px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

 .content .cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}



::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.logo1{
    height: 40px;
    width: 40px;
}
.logo1 img{
    width: 330px;
    height: 380px;
    position: absolute;
    left: 900px;
    top: 2px;
    border-radius: 70%;
}
.iframe{
    width: 100%;
    height: 400px;
    margin-top: 10px;
 background-color: #cab8aa63;
}
.iframe .media{
    width: 60%;
    height: 400px;
    margin-left: 256px;
}
.container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: rgba(220, 228, 235, 0.705);
 
    
  }
  
  .image {
    display: block;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
   
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffa1;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .main1{
    width: 100%;
    height: 400px;
   background: rgba(109, 148, 182, 0.096);
  }
  .main1 img{
    width: 500px;
    height: 350px;
    padding-left: 60px;
    padding-top: 15px;
  }
  .content1 {
    width: fit-content;
    height: 400px;
    position: absolute;
    left: 700px;
    top: 1665px;
   
  }
  .content1 h2{
    width: 500px;
    font-size:30px ;
    float: left;
    color: #ff7200;
    left: 900px;
  }
  .content1 p{
    width: 500px;
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 2px;
  }
  .content1 .btn2{
    width: 160px;
    height: 40px;
    background: #ff7300e5;
    border: none;
    margin-bottom: 10px;
    margin-left:100px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 20px;
    
}

.content1 .btn2 a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
    padding-top: 20px;
}

.btn2:hover{
    background-color: #ff730081;
}
.cover-image-2 {
    width: 100%;
    height: 500px;
    background: url(https://nationaltoday.com/wp-content/uploads/2021/05/National-Rescue-Dog-Day-1.jpg)  no-repeat center center fixed;
    -webkit-background-size: relative;
    -moz-background-size: relative;
    -o-background-size: relative;
    background-size: cover;
    
  } 
 
 h3{
    
    height:300px ;
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    background-color: #ffffff6e;
 }
 .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 2550px;
    left: 900px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.liw a{
    color: #ff7200;
}

.content2{
    width: 600px;
    height: 300px;
    padding-top: 50px;
    text-align: center;
   margin-left: 100px;
}
.content2 h4{
    width: 600px;
    font-size: 30px;
    color: #ff7200;
}
.content2 p{
    width: 600px;
    height: 100px;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.content2 h5{
    width: 600px;
    font-size:30px ;
    color: #ff7200;
}
.list{
    width: 100%;
    height: 50px;
    margin-top: 110px;
    background-color: #09e71c;
}
.list h6{
    width: fit-content;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 50px;
}
.icons{
    width: fit-content;
   height: 30px;
    float: left;
    
    position: absolute;
    left: 180px;
    top: 2985px;
   
    }
.
.icons a{
    text-decoration: none;
    color: #fff;
    
}
.icons a img{
    width: 23px;
    height: 23px;
    margin-left: 80px;
    position: relative;
}
.cover-image-3 {
    width: 100%;
    height: 400px;
    margin-top: 28px;
    background: url(https://nationaltoday.com/wp-content/uploads/2021/05/National-Rescue-Dog-Day-1.jpg)  no-repeat center center fixed;
    -webkit-background-size: relative;
    -moz-background-size: relative;
    -o-background-size: relative;
    background-size: cover;
  } 
  .cover-image-3 h3{
    font-size: 40px;
  }
  .about{
    width: 700px;
    height: 300px;
    
  }
  .about h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 170px;
    padding-top: 50px;
    color: #ff7200;
  }
  .about p{
    font-size: 20px;
    font-style: italic;
    padding-left: 30px;
    padding-top: 10px;
    line-height: 30px;
  }
  .about img{
    width: 200px;
    height: 200px;
    padding-left: 900px;
    position:absolute;
    top: 550px;

  }
  .about1 {
    width: 1200px;
    height: fit-content;
    padding-top: 40px;
  }
  .about1 h2{
    padding-left: 165px;
    color: #ff7200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .about1 p{
    width: 100%;
    padding-left: 40px;
    font-size: large;
  }
  
	
  .gallery{
    width: fit-content;
    height: 200px;
    position: absolute;
    top: 1130px;
    padding-left: 40px;
  }
  .gallery img{
    width: 300px;
    height: 300px;
    padding: 40px;
    
  }
  .gallery a :hover{
    background-color: rgba(72, 124, 72, 0.836);
  }
  .list1{
    width: 100%;
    height: 50px;
    margin-top: 740px;
    background-color: #09e71c;
}
.list1 h6{
    width: fit-content;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 50px;
}
.icons1{
    width: fit-content;
   height: 30px;
    float: left;
    
    position: absolute;
    left: 180px;
    top: 1535px;
   
    }

.icons1 a{
    text-decoration: none;
    color: #fff;
    
}
.icons1 a img{
    width: 23px;
    height: 23px;
    margin-left: 80px;
    position: relative;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: green;
    text-align: center;
    font-size: 20px;
}
.menu h1{
    padding-top: 10px;
}
.menu p{
    font-size: medium;
    color: #fff;
}
.sub-menu1{
    width: 100%;
    height: 200px;
    margin-top:40px;
}
.sub-menu1 img{
    width: 200px;
    height: 200px;
    padding-left: 300px;
}
.sub-menu1 h2{
    padding-left: 245px;
    color: #ff7200;
}
.sub-menu1 spam{
    color: #000;
}
.sub-menu1 p{
    width: 450px;
    text-align: center;
    padding-left: 150px;
    font-size: 20px;
    padding-top: 10px;
}
.cn1{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1px solid #080808;
    margin-top: 17px;
    color: #ff730096;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    margin-left: 600px;
    position: absolute;
    top: 600px;
}
.cn1:hover{
    color: #2ae72a;
}

.cn1:focus{
    outline: none;
}

.sub-menu2 img{
    width: 250px;
    height: 230px;
    position: absolute;
    left: 890px;
    top: 180px;
    
}
.sub-menu2 h3{
    position: absolute;
    left: 900px;
    top: 220px;
    background-color: transparent;
}
.sub-menu2 p{
    width: 450px;
    text-align: center;
    padding-left: 780px;
    font-size: 20px;
    position: absolute;
    top: 460px;
   
}
.image img {
width: 700px;
height: 500px;
position: absolute;
top: 700px;
left: 300px;
}
.list2{
    width: 100%;
    height: 50px;
    margin-top: 450px;
    background-color: #09e71c;
}
.list2 h6{
    width: fit-content;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 50px;
}
.icons2{
    width: fit-content;
   height: 30px;
    float: left;
    
    position: absolute;
    left: 180px;
    top: 1263px;
   
    }
.
.icons2 a{
    text-decoration: none;
    color: #fff;
    
}
.icons2 a img{
    width: 23px;
    height: 23px;
    margin-left: 80px;
    position: relative;
}
